@import "../../css-config/mixins.scss";


.about{
    width: 100%;
    height: 100%;
    background-color: white;

    .heading{
        text-align: center;
        padding: 10px;
    }
    .para{
        margin-top:50px;
        text-align: center;
        padding-bottom: 10px;
    }
    &.aboutDark{
        background-color: black;
        color: white;
    }
}
